@font-face {
  font-family: "Kalam Regular";
  src: url("fonts/kalam-regular-webfont.woff") format("woff"),
    url("fonts/Kalam-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Kalam Regular", sans-serif;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #eee;
  background-color: #335bdf;
}
